@import "../Global.scss";

.Intro {
    background-color: white;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
      
    .right{
        width: 60%;
        position: relative;
        top: 20%;
        left: 20%;
        @include mobile {
            top: 20%;
            left: 5%;
            width: 80%;
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 100px;
                margin: 10px 0;
                @include mobile{
                    font-size: 80px;
                }
            }
            h2{
                font-size: 30px;
            }
            h3{
                font-size: $fontSize2;

                @include mobile{
                    font-size: 30px;
                }
                span{
                    font-size: inherit;
                    color: darkslateblue;
                }

                .ityped-cursor {                  
                    animation: blink 1s infinite;
                                  }
                @keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
            }
            
        }
    }
    .arrowContainer{
        width: 100%;
        text-align: center;
        a{
           
            position: absolute;
            bottom: 10px;
            img{
                width: 30px;
                animation:  arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                to{
                    opacity: 0;
                }
            }
        }
    }
    
}